body {
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 200px;
    width: 200px;
    margin-right: 16rem;
}
.square {
    height: 150px;
    width:  150px;
    font-size: 2rem;
    border: none;
    border: 2px rgba(0, 0, 0, 0.5) solid;
    background-color: rgba(82, 223, 225, 0.8);
    color: rgb(203, 41, 30);
    cursor: pointer;
}
.highlight {
    background-color: rgb(114, 245, 44);
    transition: background-color 0.7s ease;
}
.square:hover {
    background-color: yellow;
}
h1 {
    text-align: center;
    text-shadow: 2 3 5 ;
}
h3 {
    text-align: center;
    color: blue;
}
.status {
    text-align: center;
    font-size: 2rem;
    color: red;
}
/* Im a lazy man */
@media screen and (max-width: 500px) {
    .square {
        width: 135px;
        height: 135px;
    }
    .container {
        margin-left: 30px;
    }
  }
  @media screen and (max-width: 400px) {
    .square {
        width: 125px;
        height: 125px;
    }
    .container {
        margin-left: 90px;
    }
  }
  @media screen and (max-width: 350px) {
    .square {
        width: 100px;
        height: 100px;
    }
    .container {
        margin-left: 170px;
    }
  }
  /* I repeat, im lazy, do not code like this :P */